//
// 共通のスタイル
//

// 変数
$white: #fff;
$black: #000;
$orange: #ea7b40;
$light-orange: #f1b899;

// ベーススタイル
html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans JP', Poppins, '游ゴシック', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 1px;
    color: $black;
    background-color: $white;
    @media (min-width: 590px) {
        font-size: 1.8rem;
    }
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

.uppercase {
    text-transform: uppercase;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}

.main {
    overflow-x: hidden;
}

.no-scroll {
    overflow: hidden;
}