//
// コンテナのスタイル
//

.container {
    padding: 0px 20px;
    width: 100%;
    box-sizing: border-box;
}

.section-description {
    text-align: justify;
}

// タブレット
@media (min-width: 590px) {
    .container {
        padding: 0;
        width: 70%;
        margin: 0 auto;
    }
}

// pc
@media (min-width: 590px) {
    .container {
        padding: 0;
        max-width: 1000px;
        margin: 0 auto;
    }
}