//
// 無料体験レッスンのスタイル
//

.free-trial-lesson {
    .description {
        margin-bottom: 20px;
        @media (min-width: 769px) {
            margin-bottom: 40px;
        }
    }
}

.entry-box {
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 20px;
    .button {
        display: block;
        position: absolute;
        bottom: 0;
        color: $white;
        text-align: center;
        width: 100%;
        border-radius: 5px;
        background-color: $orange;
        transition: all .3s ease;
        &:hover {
            background-color: $black;
        }
    .eng {
        display: block;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1;
        padding-top: 18px;
    }
    h2 {
        margin: 0;
        padding: 8px 0 18px;
        font-size: 2.4rem;
        line-height: 1;
    }
    }
    @media (min-width: 590px) {
        .button {
            width: 70%;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
        }
        margin-bottom: 40px;
    }
}

.phone-box {
    position: relative;
    .phone-number {
        position: absolute;
        bottom: 20px;
        font-weight: 700;
        line-height: 1;
        span {
            color: $orange;
            display: inline-block;
        }
        p {
            display: inline-block;
            font-size: 2.8rem;
            background: linear-gradient(transparent 70%, $light-orange 30%);
            margin-left: 10px;
        }
        @media (min-width: 590px) {
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            p {
                font-size: 3rem;
            }
        }
        @media (min-width: 769px) {
            bottom: 30px;
            left: 40%;
        }
    }
}

.talking-character {
    display: flex;
    justify-content: space-between;
    .balloon {
        position: relative;
        display: inline-block;
        border: 3px solid $orange;
        box-sizing: border-box;
        border-radius: 10px;
        height: 50px;
        width: 60vw;
        margin-top: 10px;
        p {
            line-height: 42px;
            text-align: center;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: -24px;
            margin-top: -12px;
            border: 12px solid transparent;
            border-left: 12px solid $white;
            z-index: 2;
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -30px;
            margin-top: -14px;
            border: 14px solid transparent;
            border-left: 14px solid $orange;
            z-index: 1;
        }
    }
    .character {
        height: 128px;
    }
    @media (min-width: 590px) {
        .balloon {
            width: 40vw;
            margin-top: 20px;
        }
        .character {
            height: 160px;
        }
        width: 90%;
        margin: 0 auto;
    }
    @media (min-width: 769px) {
        width: 70%;
        .balloon {
            width: 30vw;
            margin-top: 40px;
        }
        .character {
            height: 200px;
        }
    }
}