//
// レッスン料金のスタイル
//

.lesson-item {
    margin-bottom: 30px;
    .table {
        font-weight: 700;
        margin-bottom: 20px;
        .table-heading {
            display: inline-block;
            background: $orange;
            color: $white;
            padding: 14px 20px;
            box-sizing: border-box;
            font-size: 2rem;
            line-height: 1;
            span {
                font-size: 2.4rem;
                padding-right: 16px;
            }
            @media(min-width: 769px) {
                font-size: 2.4rem;
                span {
                    font-size: 3rem;
                }
            }
        }
        .table-content {
            border: 4px solid $orange;
            .table-row {
                display: flex;
                justify-content: space-between;
                padding: 16px 30px;
                align-items: baseline;
                line-height: 4rem;
                .times {
                    font-size: 2rem;
                    span {
                        font-size: 3rem;
                    }
                    @media (min-width: 590px) {
                        font-size: 1.6rem;
                        span {
                            font-size: 2rem;
                        }
                    }
                    @media (min-width: 769px) {
                        font-size: 2.4rem;
                        span {
                            font-size: 3.2rem;
                        }
                    }
                }
                .fee {
                    font-size: 4rem;
                    background: linear-gradient(transparent 70%, $light-orange 30%);
                    small {
                        font-size: 2.4rem;
                    }
                    @media (min-width: 590px) {
                        font-size: 3rem;
                        small {
                            font-size: 2rem;
                        }
                    }
                    @media (min-width: 769px) {
                        font-size: 4rem;
                        small {
                            font-size: 2.4rem;
                        }
                    }
                }
            }
            .table-row:not(:last-child) {
                border-bottom: 2px solid $orange;
            }
        }
    }
    .notes {
        p {
            text-align: justify;
            &::before {
                content: "";
                position: relative;
                top: 4px;
                width: 20px;
                height: 20px;
                background: $orange;
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
}

// 特典
.benefits {
    text-align: center;
    h3 {
        display: inline-block;
        text-align: center;
        font-size: 2rem;
        background: linear-gradient(transparent 70%, $light-orange 30%);
    }
    .benefits-list {
        margin: 20px 0 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        li {
            position: relative;
            background: $orange;
            color: $white;
            width: 28vw;
            height: 28vw;
            max-width: 160px;
            max-height: 160px;
            border-radius: 50%;
            p {
                position: absolute;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                line-height: 1.4;
            }
        }
        @media (min-width: 769px) {
            width: 80%;
            margin: 20px auto 0;
        }
    }
    @media (min-width: 590px) {
        h3 {
            font-size: 2.4rem;
        }
        .benefits-list {
            margin-top: 30px;
            li {
                p {
                    font-size: 2rem;
                }
            }
        }
    }
}

// タブレット
@media (min-width: 590px) {
    .lesson-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        .lesson-item {
            width: calc(50% - 10px);
            margin-bottom: 0;
        }
    }
}

// PC
@media (min-width: 769px) {
    .lesson-wrapper {
        margin-bottom: 60px;
    }
}