//
// セクション見出しのスタイル
//

.section-heading {
    border-left: 10px solid $orange;
    padding-left: 12px;
    margin: 60px 0 30px;
    .eng {
        color: $orange;
        font-size: 1.6rem;
        display: block;
        line-height: 1;
        font-weight: 700;
        padding-top: 12px;
    }
    .section-title {
        font-size: 2.4rem;
        line-height: 1;
        padding: 10px 0 12px;
    }
    @media (min-width: 590px) {
        margin: 100px 0 40px;
    }
    @media (min-width: 769px) {
        border-left: 20px solid $orange;
        padding-left: 30px;
        margin: 120px 0 80px;
        .eng {
            font-size: 2rem;
        }
        .section-title {
            font-size: 3.2rem;
        }
    }
}